
        * {box-sizing: border-box}

        /* Set height of body and the document to 100% */
        body, html {
            direction: rtl;
        margin: 0;
        font-family: Arial;
        max-width: 100%;
        }

        /* Style tab links */
        .tablink {
        background-color: darkgray;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
        }

        .tablink:hover {
        background-color: #777;
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
        text-align: center;
        }

        h3{
            text-align: center;
        }

        .form-control{
            max-width: 50%;
            text-align: center;
            margin: auto;
        }

        .inputTitle{
            text-align: center;
            color: white;
            font-size: 25px;
            font-weight: 700;
        }
        .inputTitleAccount
        {
            color: black;
            font-size: 20px;
            font-weight: 700;
        }
        #profile {
        background-image: url('../img/abc.jpg');
        }
        #Account {
            background-image: url('../img/3.jpg');}
        #Links {
            background-image: url('../img/5.jpg');}
        #image {background-color: #dcd2d2;}
        #citiesAndCourses{background-image: url('../img/2.jpg');}

        #button 
        {
            display: inline-block;
            background-color: #555;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            transition: background-color .3s, 
                opacity .5s, visibility .5s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
         }
            #button::after {
            content: "\f077";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 2em;
            line-height: 50px;
            color: #fff;
            }
            #button:hover {
            cursor: pointer;
            background-color: #333;
            }
            #button:active {
            background-color: #555;
            }
            #button.show {
            opacity: 1;
            visibility: visible;
            }

            /* Styles for the content section */

            .content {
            width: 77%;
            margin: 50px auto;
            font-family: 'Merriweather', serif;
            font-size: 17px;
            color: #6c767a;
            line-height: 1.9;
            }
            @media (min-width: 500px) {
            .content {
                width: 43%;
            }
            #button {
                margin: 30px;
            }
            }       

            .navbarOptions
            {
                font-size: 20px;
                color:#555;
                text-align: center;
            }

            h4{
                float: left;
            }

            .inputImgTitle{
                text-align: center;
                float: none;
            }
            .ImageSection{
                margin-right:20%;
                margin-left:20%;
                height: 150px;
            }

            #imgSource{
                text-align: center;
            }
            input[type=file] {
                float: left;
            }

            #saveImageButton{
                float: left;
            }
            .topOptions{
                margin-right: 8%;
                margin-left: 8%;
                text-align: center;
            }

            .inputTitleCitiesAndCourses{
                float: none;
                font-size: 30px;
                font-weight: 700;
                color: black;
            }
.container
{
    max-width: 100%;
}


.inputTitleIcon
{
    margin-top: 17%;
    font-size: 30px;
    font-weight: 700;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  #citiesAndCoursesSaveButton{
    height: 100px;
    width: auto;
  }
  #iconsSaveButton{
      height: 100px;
      color: black;
      font-size: 20px;
  }

  #iconsSaveButton:hover{
    height: 100px;
    background-color: teal;
    color: white;
    font-size: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  #jceImg{
    max-width: 75px;
    max-height: 50px;
  }
  .ButtomSection
  {
    direction: rtl;
    background-color: #f8b87e;
          color: white;
          font-size: large;
  }