body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    max-width: 100%;
    text-align: center;
    direction: rtl;
    background-repeat: no-repeat;
}   
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 40%;
}
.nav-link
{
    font-size:23px;
}    
.nav-link:hover
{
    font-size:30px;
}
.tablink
{
    border-radius: 30px;
}              
.tablink {
    cursor: pointer;
    padding: 14px 16px;
    font-size: 23px;
    width: 25%;
    direction: ltr;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
#jceImg{
  max-width: 75px;
  max-height: 50px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    }
    /* Darker background on mouse-over */
    .btn:hover {
    background-color: RoyalBlue;
    }
    .fa {
width: 13px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.footer
{
	max-height: 80px;
    padding: 0%;
    background-color: black;
    margin-top: -50px;
    direction: rtl;
}
w3-teal, .w3-hover-teal:hover {
    background-color:black;
}
.w3-container, .w3-panel {
    background-color: black;
    color: white;
}
.ImageSection{
    background-color:gray;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
body {font-family: Arial;}
/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}
#verifyPassword{
    margin-right:auto;
    margin-left:auto;
}
#password{
    margin-right:auto;
    margin-left:auto;
}
#citiesAndCourses{
    background-color: white;
}
#framework{
    background-color: gray;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: black;
}
#deleteAccountButton{
    background-color: red;
}