body{
  direction:rtl;
  text-align: center;
}
.fa {
padding: 10px;
font-size: 20px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}
#jceImg{
max-width: 45px;
max-height: 30px;
}
.fa {
width: 13px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}
.footer
{
max-height: 80px;
padding: 0%;
background-color: black;
margin-top: -50px;
direction: rtl;
}
w3-teal, .w3-hover-teal:hover {
background-color:black;
}
.w3-container, .w3-panel {
background-color: black;
color: white;
}
.ImageSection{
background-color:gray;
margin-left: auto;
margin-right: auto;
max-width: 50%;
}
.navbar-nav .nav-link {
padding-right: 0;
padding-left: 40%;
}
#pageTitle{
background-color: red;
}
.section{
margin-left: auto;
margin-right: auto;
}
footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}
.btn-primary {
background-color: red;
border-color: white;
}
@media only screen and (min-width: 500px) {
  footer {
    position: absolute;
  }
}
@media only screen and (max-width: 320px) {
  footer {
    position: unset;
  }
  .display-3 {
    font-size: 1rem;
    }
}