body
        {
          direction: rtl;
          text-align: center;
          background-color:#efecec;
        }
        input[type=submit] 
        {
            max-width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
         input[type=submit]:hover 
         {
            background-color: #45a049;
         }
         .file-field.big .file-path-wrapper 
         {
            height: 3.2rem; 
          }
          .file-field.big .file-path-wrapper .file-path 
          {
            height: 3rem; 
          }
          #searchButton
          {
             background-color: #00bdff;
              font-size: 20px;
          }
          .searchWords
          {
            font-size: 30px;
          }
          .nav
          {
              margin-left: 10%;
          }
          .navbarOptions
          {
              margin-left: 7%;
              float: left;
              color: white;
              background-color: #00bdff;
          }
          .GoToSearchTeachersPageParagraph
		{
			float:right;
		}
		.teacher
		{
			background-color: #dbdfdf;
			border-radius: 100px;
			padding-bottom:1%;
			margin-bottom: 1%;
		}
		.teacherImg
		{
			margin-left: 20px;
			margin-right: 30px;
			max-height: 150px;
			max-width: 150px;
			float: right;
		}
		.teacherDescriptions
		{
			max-width: 20%;
    		font-size: 20px;
		}
		.teacherDescriptionsPrice
		{
			max-width: 80%;
		}
          #button 
          {
              display: inline-block;
              background-color: gray;
              width: 50px;
              height: 50px;
              text-align: center;
              border-radius: 4px;
              position: fixed;
              bottom: 30px;
              right: 30px;
              transition: background-color .3s, 
                  opacity .5s, visibility .5s;
              opacity: 0;
              visibility: hidden;
              z-index: 1000;
           }
              #button::after {
              content: "\f077";
              font-family: FontAwesome;
              font-weight: normal;
              font-style: normal;
              font-size: 2em;
              line-height: 50px;
              color: #fff;
              }
              #button:hover {
              cursor: pointer;
              background-color: #333;
              }
              #button:active {
              background-color: #555;
              }
              #button.show {
              opacity: 1;
              visibility: visible;
              }
  
              /* Styles for the content section */
  
              .content {
              width: 77%;
              margin: 50px auto;
              font-family: 'Merriweather', serif;
              font-size: 17px;
              color: #6c767a;
              line-height: 1.9;
              }
              @media (min-width: 500px) {
              .content {
                  width: 43%;
              }
              #button {
                  margin: 10px;
              }
              }     
              #button{
                right: 10px;
              }
              .navbar-nav .nav-link {
              padding-right: 0;
              padding-left: 40%;
          }
            li
              {
                  color:black;
                  font-size:20px;
              }
              .navbar-brand 
              {
                  font-size:35px;
              }    
              .nav-link:hover
              {
                  font-size:30px;
            }
            img {
              border-style: groove;
              border-radius: 100px;
            }
            .ButtomSection
          {
            direction: rtl;
            background-color: #f8b87e;
            color: white;
            font-size: large;
            
             left: 0;
             bottom: 0;
             width: 100%;
          }
          .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
          }
          
          .fa:hover {
              opacity: 0.7;
          }
          
          .fa-facebook {
            background: #3B5998;
            color: white;
          }
          #jceImg{
            max-width: 75px;
            max-height: 50px;
          }