body
          {
            direction: rtl;
            text-align: center;
            max-width: 100%;
          }
          #title
          {
            font-style: inherit;
            font-size: 60px;
            color: #00bdff;
          }
          .logSign
          {
            font-size: 30px;
            color: #00bdff;
          }
          .logSignButton
          {
            background-color: #00bdff;
          }
          .container-fluid
          {
              background-color: white;
          }
          .navbar-toggle
          {
              background-color:#00bdff ;
          }
          .navbar-inverse .navbar-nav>li>a 
          {
              color: #00bdff;
          }
          .navbar-inverse .navbar-nav>li>a:hover
          {
              color: black;
          }
          .navbar-inverse .navbar-brand
          {
            color: #00bdff;
          }
          .navbar-inverse .navbar-brand:hover
          {
            color: black;
          }
          .form
          {
            font-family: initial;
            font-size: 15px;
          }
          .fillInformatios
          {
            font-style: oblique;
          }
          .getPhoto
          {
            font-style: initial;
            font-size: 33px;
          }
          #titleOfCanChangeInformations
          {
            color: #007cff;
          }
          input[type=submit] 
          {
              max-width: 100%;
              background-color: #4CAF50;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
           input[type=submit]:hover 
           {
              background-color: #45a049;
           }
           #title
          {
            font-style: inherit;
            font-size: 55px;
            color: dimgrey;
          }
          #saveButton
          {
            background-color: #00bdff;
            font-size: 20px;
            border-radius: 300px;
          }
          .inputWords
          {
              font-size: 30px;
          }
          .inputWordsInside 
          {
              font-size:20px;
              direction: rtl;
          }
          #email
          {
            direction: ltr;
          }          
          #button 
          {
              display: inline-block;
              background-color: #4cae4c;
              width: 50px;
              height: 50px;
              text-align: center;
              border-radius: 4px;
              position: fixed;
              bottom: 30px;
              right: 30px;
              transition: background-color .3s, 
                  opacity .5s, visibility .5s;
              opacity: 0;
              visibility: hidden;
              z-index: 1000;
           }
              #button::after {
              content: "\f077";
              font-family: FontAwesome;
              font-weight: normal;
              font-style: normal;
              font-size: 2em;
              line-height: 50px;
              color: #fff;
              }
              #button:hover {
              cursor: pointer;
              background-color: #333;
              }
              #button:active {
              background-color: #555;
              }
              #button.show {
              opacity: 1;
              visibility: visible;
              }
  
              /* Styles for the content section */
  
              .content {
              width: 77%;
              margin: 50px auto;
              font-family: 'Merriweather', serif;
              font-size: 17px;
              color: #6c767a;
              line-height: 1.9;
              }
              @media (min-width: 500px) {
              .content {
                  width: 43%;
              }
              #button {
                  margin: 30px;
              }
              }  
              .navbar-brand 
              {
                  font-size:35px;
              }
              .navbar-brand:hover
              {
                  font-size:40px;
              }
              .nav-link
              {
                  font-size:23px;
              }    
              .nav-link:hover
              {
                  font-size:30px;
              }
              .form-control
              {
                  height:35px;
                  border-radius: 300px;
              } 
              .container-fluid{
                  margin-top: -1%;
              }  
              .WordsOnMid
              {
                  color: black;
                  font-size: 35px;
              }
              .logSign
              {
                  color: black;
              }
              .glyphicon {
      position: relative;
      top: 1px;
      display: list-item;
      /* font-family: "Glyphicons Halflings"; */
      font-style: italic;
      font-weight: 1000;
      line-height: 1;
      -moz-osx-font-smoothing: grayscale;
  }
  .logSignButton
  {
      font-size: 15px;
  }
  input{
      border-radius: 300px;
  }

  body
  {
    background-image: url("../img/secondLogin2.jpg");
    direction: rtl;
  }
  p{
    font-size: large;
  }
@media(max-width: 400px){
  #title{
    font-size: 45px;
  }
  .inputWords{
    font-size: 30px;
  }
  .form-control{
    height: 45px;
  }
  .inputWordsInside{
    font-size: 35px;
  }
  .form-control{
    font-size: 24px;
  }
  #saveButton{
    background-color: dimgrey;
    font-size: 20px;
  }
  .col-sm-3{
    position: relative;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 1px;
  }
}   