body{
    direction: rtl;
}
@media only screen and (max-width: 400px) {
    dark th, .table-dark thead th {
        font-size: 10px;
    } 
    .table th {
        padding: 10px;
    }     
}
@media only screen and (min-width: 670px) {
    #forSmallScreen{
        display: none;
    }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
    .table th {
        padding: 1px;
        border-top: 1px solid #dee2e6;
        font-size: 20px;
        font-weight: 400;
    }
    .table thead th {
        vertical-align: inherit;
    }
    h1 {
        font-size: 15px;
    }
    .p-3 {
        padding: 0rem!important;
        margin-top: -50px;
    }
}