body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    direction: rtl;
    max-height: 80%;
}
.emp-profile
{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img
{
    text-align: center;
}
.profile-img img
{
    width: 70%;
    max-height: 100%;
}
.profile-img .file 
{
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input 
{
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5
{
    color: #333;
}
.profile-head h6
{
    color: #0062cc;
}
.profile-edit-btn
{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating
{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span
{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs
{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link
{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active
{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work
{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p
{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a
{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul
{
    list-style: none;
}
.profile-tab label
{
    font-weight: 600;
}
.footer
{
    max-height: 80px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 0%;
}
.profile-title
{
    max-width: 80%;
}
#editButton
{
  background-color: #00bdff;
  font-size: 20px;
}
#messageButton
{
    background-color: #00bdff;
    font-size: 20px;
}
.checked {
    color: orange;
  }
#button 
          {
              display: inline-block;
              background-color: #4cae4c;
              width: 50px;
              height: 50px;
              text-align: center;
              border-radius: 4px;
              position: fixed;
              bottom: 30px;
              right: 30px;
              transition: background-color .3s, 
                  opacity .5s, visibility .5s;
              opacity: 0;
              visibility: hidden;
              z-index: 1000;
           }
  #button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  }
  #button:hover {
  cursor: pointer;
  background-color: #333;
  }
  #button:active {
  background-color: #555;
  }
  #button.show {
  opacity: 1;
  visibility: visible;
  }

  /* Styles for the content section */

  .content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
  }
  @media (min-width: 500px) {
  .content {
      width: 43%;
  }
  #button {
      margin: 30px;
  }
  }                    
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 40%;
}
    .nav-link
    {
        font-size:13px;
    }    
    .nav-link:hover
    {
        font-size:23px;
    }
    body{
        direction:rtl;
        max-width: 100%;
        text-align: center;
    }
                        .tablink
        {
            border-radius: 30px;
        }
                        .row
                        {
                            max-width: 101%;
                        }
                        #cityButtons{
                            margin-top:2%;
                        }
                        #courseButtons{
                            margin-top:2%;
                        }
                        .cityButtons{
                            margin-top:2%;
                            border-radius: 30px;
                        }
                        .courseButtons{
                            margin-top:2%;
                            border-radius: 30px;
                        }
                    
                        img {
                vertical-align: unset;
                border-radius: 300px;
                border-style: none;
            }
            
        .img-fluid {
            max-width: 100%;
            height: 70px;
        }
        .modal-footer
        {
            direction:ltr;
        }
        .addCommentButton
        {
            border-radius:300px;
        }
        .pleaseAddFeedback
        {
            margin-right: -50%;
        }
        textarea.form-control {
            height: 60px;
        }
        #sendMessageToTeacherFormSection
        {
            max-width: 70%;
            margin-left: 25%;
            margin-right: 25%;
        }
                    p {
                        margin-top: 1%;
                        font-size: 25px;
                        font-weight: 700;
                    }
                    .commentCard
                    {
                        background:url('../img/7.jpg');
                    }
                    .board
                    {
                        max-width: 100%;
                    }
                    .ButtomSection    
            {
              direction: rtl;
              background-color: #f8b87e;
              color: white;
              font-size: large;
               left: 0;
               bottom: 0;
               width: 100%;
            }        
            .fa-facebook {
              background: #3B5998;
              color: white;
            }
            #jceImg{
              max-width: 75px;
              max-height: 50px;
            }
            .btn {
                background-color: DodgerBlue;
                border: none;
                color: white;
                padding: 12px 16px;
                font-size: 16px;
                cursor: pointer;
                }
                /* Darker background on mouse-over */
                .btn:hover {
                background-color: RoyalBlue;
                }
                .fa {
            width: 13px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
            }
            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            }
            .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
            }
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }
            .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }
            input:checked + .slider {
            background-color: #2196F3;
            }
            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }
            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }
            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }
            .slider.round:before {
            border-radius: 50%;
            }
                       
            .tabcontent{
                border-radius: 90px;
            margin-top: 0.5%;
            }
            .card-body {
                padding: 0rem;
            }
            .card-img, .card-img-bottom, .card-img-top {
                max-width: 80%;
            }
            .table{
                border-collapse: none;
                margin-left: auto;
                margin-right: auto;
              }
              @media only screen and (min-width: 1000px) {
                    .table{
                max-width: 80%;
              }
          }
            .table td, .table th {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
                margin: 0px;
                padding: 0px;
                font-size: x-small;
                text-align: center;
            }  
            @media only screen and (max-width: 700px) {
              .table td{
                    padding: 0.10rem;
                }
                .table th {
                    padding: 0.10rem;
                }
            }
            @media only screen and (max-width: 980px) {
                    .table{
                margin-left: auto;
                margin-right: auto;
              }
              .table td{
                    padding: 0.10rem;
                }
                .table th {
                    padding: 0.10rem;
                }
            }
            @media only screen and (max-width: 360px) {
                .table{
            max-width: 100%;
          }
          .table td, .table th {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
                margin: 0px;
                padding: 0px;
                font-size: xx-small;
                text-align: center;
            }  
      }
      .card-title {
        margin-bottom: 0px;
        font-weight: bold;
        width: max-content;
    }
    p {
        margin-top: 0%;
        font-size: 20px;
        font-weight: inherit;
        text-align: right;
    }
      .small, small {
        font-weight: bolder;
    }
      footer
      {
          background-color: black;
          color: white;
      }      
      body {font-family: Arial;}
      /* Style the tab */
      .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      }
      /* Style the buttons inside the tab */
      .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      }
      /* Change background color of buttons on hover */
      .tab button:hover {
      background-color: #ddd;
      }
      /* Create an active/current tablink class */
      .tab button.active {
      background-color: #ccc;
      }
      /* Style the tab content */
      .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      }
      .row {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;
      margin-left: auto;
  }
  .col-sm-6 {
      float: right;
  }
  .card{margin-right: auto;
      margin-left: auto;
  }
  #profileLink{
      background-color:orange;
  }
  .card-img, .card-img-bottom, .card-img-top {
    max-width: 80px;
    border-radius: 300px;
}
.h5, h5 {
    font-size: medium;
}
.fa {
  padding: `0px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

@media only screen and (max-width: 360px) {
    .card-img{
        max-width: 80px;
        max-height: 90px;
        margin-right: auto;
    }
    .fa {
        padding: 10px;
        font-size: 15px;
    }
    #jceImg {
        max-width: 55px;
        max-height: 40px;
    }
    footer {
        font-size: 1px;
    } 
}